<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elektrogeräte</title>
    <link rel="stylesheet" href="design.css">
</head>
<body>
<table class="all">
    <thead>
     <tr class="top">
     <th>Kategorie</th>
     <th>produkt Nr.</th>
     <th>Bezeichnung</th>
     <th>Merkmal</th>
     <th>Anzahl</th>
     </tr>
</thead>

<tbody>
    @foreach($elektrogeraete as $geraet)
     <tr>
     <td>Elektrogeräte</td>
     <td>{{ $geraet->produkt_nr }}</td>
     <td>{{ $geraet->bezeichnung }}</td>
     <td>{{ $geraet->merkmal ?? }}</td>
     <td>{{ $geraet->anzahl ?? 'Nicht verfügbar' }}</td>
     </tr>
    @endforeach
</tbody>
</table>

<BUTTON>Neues geräte hinzufügen</BUTTON>

</body></html>