<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitorkabel</title>
    <link rel="stylesheet" href="design.css">
    </style>
</head>
<body>
<table class="all">
    <thead>
     <tr>
     <th>Kategorie</th>
     <th>Produkt Nr.</th>
     <th>Bezeichnung</th>
     <th>Anzahl</th>
     </tr>
    </thead>

    <tbody>
     @foreach($Monitorkabel as $mkabel)
     <tr>
     <td>Monitorkabel</td>
     <td>{{ $mkabel->produkt_nr }}</td>
     <td>{{ $mkabel->bezeichnung }}</td>
     <td>{{ $mkabel->anzahl ?? 'Nicht verfügbar' }}</td>
     </tr>
     @endforeach
    </tbody>
</table>
</div>
</body></html>
