<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netzwerkkabel Übersicht</title>
    <link rel="stylesheet" href="design.css">
    </head>
    <body>
<table class="all">
   <thead>
    <tr class="top">
    <th>Kategorie</th>
    <th>Produkt Nr.</th>
    <th>Bezeichnung</th>
    <th>Länge</th>
    <th>Anzahl</th>
    </tr>
   </thead>

   <tbody>
    @foreach($Netzwerkkabel as $nwkabel)
    <tr>
    <td>Netzwerkkabel</td>
    <td>{{ $nwkabel->produkt_nr }}</td>
    <td>{{ $nwkabel->bezeichnung }}</td>
    <td>{{ $nwkabel->länge ?? 'keine variation'}}</td>
    <td>{{ $nwkabel->anzahl ?? 'Nicht verfügbar' }}</td>
    </tr>
    @endforeach
   </tbody>
</table>
</div>
</body>
</html>
