<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="design.css">
</head>
<body>
<table class="all">
    <thead>
     <tr >
     <th>Kategorie</th>
     <th>Produkt Nr.</th>
     <th>Bezeichnung</th>
     <th>Länge</th>
     <th>Anzahl</th>
     </tr>
    </thead>

    <tbody>
     @foreach($usbkabel as $usb)
     <tr>
     <td>USB Kabel</td>
     <td>{{ $usb->produkt_nr}}</td>
     <td>{{ $usb->bezeichnung}}</td>
     <td>{{ $usb->laenge}}</td>
     <td>{{ $usb->anzahl ?? 'Nicht verfügbar' }}</td>
     </tr>
     @endforeach
    </tbody>
</table>
</body>

</html>