<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2>Neuen Artikel hinzufügen</h2>

<form action="{{ route('artikel.store') }}" method="POST">
    @csrf
    <input type="text" name="kategorie" required>
    <button type="submit">Speichern</button>
</form>
<div>
<table class="all">
    <thead>
     <tr class="top">
     <th>Kategorie</th>
     <th>Artikel Nr.</th>
     <th>Bezeichnung</th>
     <th>Merkmal</th>
     <th>Anzahl</th>
     </tr>
</thead>
    
</div>
</body>
</html>